
.content{
    display: flex;
    width: 100%;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 60px;
    font-size: 25px;
}

.data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.dataText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataText p{
    display: flex;
    align-items: center;
}

.dataText p img {
    margin-right: 10px;
}

.dataImage img {
    width: 700px;
    max-width: 100%;
    height: auto;
}

.dataTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#title{
    margin-bottom: 10px;
}
.dataPrice {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
#price {
    margin-left: 50px;
   
}
#location{
    font-size: 30px;
}



