* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.desktopNav {
    margin-top: 30px;
    min-width: 40%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.desktopNav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}

.desktopNav ul li {
    margin: 10px 10px;
    
}

.desktopNav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
}

.desktopNav ul li a:hover {
    background-color: #f8f8f8;
}

.lout {
    display: none;
}

#login {
    margin-left: auto;
}

.box img {
    width: 280px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
}

.box{
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    min-height: 400px;    
    transition: all 0.3s ease;
}

.box:hover{
    cursor: pointer;
    scale: 1.01;
}

.box h3 {
    margin-top: 10px;
}


.specInfo {
    display: flex;
    width: 100%;
}
.location {
    margin-right: auto;
}

.rooms{
    margin-left: auto ;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
    
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.bookBtn {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #FF5A5F;border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
}


.listingForm {
    margin: 20px;
    padding: 10px;
}






.bookBtn:hover {
    scale: 1.1 ;
    cursor: pointer;
}

.price {
    font-size: 20px;
    font-weight: 500;
}

.authForms{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 305px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #FF5A5F;
    min-height: 690px;
    
}

.authForms form {
    border-radius: 0px;
    box-shadow: none;
}

.selection {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.selection div {
    width: 50%;
}

.selection div button {
    width: 100%;
    padding: 10px;
    border: none;
}

.popupBtn {
    cursor: pointer;
    border
}

#loginpopup {
    border-top-left-radius: 10px ;
    background-color: white;
}

#signuppopup {
    border-top-right-radius: 10px;
    background-color: #FF5A5F;
}

.hidden {
    display: none;
}

.signUp{
    margin-top: 50px;
}

.inputField{
    margin: 5px 0 ;
}

.inputField p {
    max-width: 300px;
}

#cancel{
    margin-bottom: 5px;
}

#cancel:hover{
    cursor: pointer;
    text-decoration: underline;
}

.multimedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.drop {
    color: #FF5A5F;
    border: solid 5px #FF5A5F ;
    border-radius: 20px;
    min-width: 200px;
    min-height: 200px;
    margin-right:50px ;
    display: flex;
    align-items: center;
}

.drop h3 {
    margin: 10px;
}

.loginText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -100px;
    text-align: center;
}

.loginText h3 {
    margin-bottom: 10px;
}

.loginText p {
    text-align: center;
    line-height: 1.5;
}

